* {
  box-sizing: border-box;
}

.wrapper__full {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}