.fifth__page__wrapper {
  max-width: 1130px;
  margin: 0 auto;
  padding: 15px;
}

.fifth__page__content {
  background: #4C4C4C;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  /*flex-wrap: wrap;*/
  /*align-items: center;*/
  max-height: 580px;
  margin-bottom: 90px;
}

.fifth__page__title {
  padding-top: 90px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}

.fifth__page__subtitle {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  width: 410px;
  margin-bottom: 40px;
}

.fifth__page__name {
  background: rgba(255, 255, 255, 0.21);
  border: none;
  padding: 8px 190px 34px 15px;
  margin-bottom: 15px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.fifth__page__name::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
}

.fifth__page__tel {
  background: rgba(255, 255, 255, 0.21);
  border: none;
  padding: 8px 190px 34px 15px;
  margin-bottom: 15px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.fifth__page__tel::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
}

.fifth__page__mail {
  background: rgba(255, 255, 255, 0.21);
  border: none;
  padding: 8px 190px 34px 15px;
  margin-bottom: 30px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.fifth__page__mail::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.5;
}

.fifth__page__btn {
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 158px;
  border: none;
  font-feature-settings: 'liga' off;
  color: #4C4C4C;
}

.fifth__page__right__first {
  position: relative;
  top: -15%;
  left: 22%;
  z-index: 9999;
}

.fifth__page__right__first::before {
  position: absolute;
  content: url("../img/five_pattern_first.png");
  top: 0;
  right: 18%;
}

.fifth__page__right__second {
  position: relative;
  top: -40%;
  left: 40%;
}

.fifth__page__right__second::before {
  position: absolute;
  content: url("../img/five_pattern_second.png");
  top: 35%;
  left: 4%;
}