.fourth__page__top {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}

.fourth__page__left {
  background: #F5F5F5;
  padding: 50px 117px;
  display: block;
  flex-wrap: wrap;
}

.fourth__page__left__uptitle {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FF7900;
  padding-left: 45px;
  margin-bottom: 10px;
  position: relative;
}

.fourth__page__left__uptitle::before {
  position: absolute;
  content: url("../svg/line.svg");
  top: -10%;
  left: 0%;
}

.fourth__page__left__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 132%;
  color: #333333;
  width: 350px;
  margin-bottom: 10px;
}

.fourth__page__left__info {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #717171;
  width: 410px;
  margin-bottom: 15px;
}

.fourth__page__left__subinfo {
  display: flex;
  justify-content: flex-start;
}

.fourth__subinfo__first {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FF7900;
}

.fourth__subinfo__second {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FF7900;
  margin-left: 30px;
  border-bottom: 3px solid #FF7900;
}

/****** cards *****/

.fourth__page {
  /*position: relative;*/
}

.fourth__page__mid {
  position: relative;
  top: -70px;
  left: -2%;
}

.fourth__page__mid__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fourth__page__mid__card {
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 3px 1px 16px rgba(136, 136, 136, 0.19);
  margin-left: 55px;
}

.fourth__page__mid__card__img {
  margin-bottom: 30px;
  background: #F5F5F5;
  position: relative;
  z-index: 1;
}

.fourth__page__mid__card__img::before {
  position: absolute;
  content: url("../svg/ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 7%;
  left: 13%;
  z-index: -1;
}

.fourth__page__mid__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
  width: 260px;
}

.fourth__page__mid__item {
  margin-left: 15px;
  list-style: disc;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.4px;
  color: #FF7900;
  margin-bottom: 15px;
}

.fourth__mid__page__item__bold {
  color: #000000;
  font-weight: bold;
}

.fourth__page__mid__menu {
  border-bottom: 1px solid #DFDFDF;
  margin-bottom: 10px;
}

.fourth__page__mid__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.fourth__page__mid__info__left__first {
  /*padding-right: 15px;*/
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
  color: #AAAAAA;
}

.fourth__page__mid__info__left__second {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: rgba(253, 32, 33, 0.47);
}

.fourth__page__mid__info__third {
  /*padding-left: 50px;*/
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #FF7900;
}

.fourth__page__mid__btn {
  background: #FF7900;
  border-radius: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  padding: 15px 66px 16px 88px;
  position: relative;
}

.fourth__page__mid__btn::before {
  position: absolute;
  content: url("../svg/tel.svg");
  top: 32%;
  left: 20%;
}

/***** swiper *****/

.fourth__page__bottom{
  margin-bottom: 100px;
}

.fourth__page__bottom__swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fourth__page__bottom__scrolls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fourth__page__bottom__scroll {
  margin-left: 140px;
}

.fourth__page__bottom__scroll__line,
.fourth__page__bottom__scroll__main__line {
  margin-left: 20px;
}

.fourth__page__bottom__button {
  margin-right: 30px;
}

.fourth__page__bottom__btn__left {
  background: #FFD7A0;
  border-radius: 10px;
  padding: 17px 20px;
  border: none;
  margin-right: 20px;
}

.fourth__page__bottom__btn__right {
  background: #FF7900;
  border-radius: 10px;
  padding: 17px 20px;
  border: none;
}


